html{background: #444; color: white; font-face: arial;}
div.panel {
  width: 150px; 
  /* height: 150px;  */
  padding: 10px;
  background-color: #225; 
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.panelToggler{width: 2em;}
.panelToggler.open {background: none}
.panelToggler.closed {color: #555;}

#panel3, #panelToggler3 {display: inline; float: left;}

.code {
  color: white;
  background: black;
  font-family: Courier New, Courier, monospace;
  white-space: pre;
}
