/* TODO: Fix CSS! Height is broken on panels; panels and code overlapping */
html, body{background: #444; color: white; font-face: arial;}
div.panel {
  width: 150px; 
  height: 150px; 
  padding: 10px;
  margin: 10px;
  background-color: #225; 
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
/* .panelToggler {margin: 5px; padding: 2px;} */
.panelToggler.closed {color: #555;}

#panel3wrapper, {position: absolute;}
#panel3, #panelToggler3, #panel4, #panelToggler4 {position: relative; display: inline-block;}
.panelWrapper {position: absolute;}
#panel4wrapper {right: 0;}

#panelToggler3 {}
hr{clear: both;}

.code {
  color: white;
  background: black;
  font-family: Courier New, Courier, monospace;
  white-space: pre;
}
